*{
	padding: 0;
	margin: 0 auto;
}
body{
	font-family: 'Raleway', sans-serif!important;
}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.full-height{
	height: 100%;
}
.inline{
	display: inline-block;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.v-align-t{
	vertical-align: top;
}
.v-align-b{
	vertical-align: bottom;
}