*{
	padding: 0;
	margin: 0 auto;
}
body{
	font-family: 'Raleway', sans-serif!important;
	background-color: #fafafa;
}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.full-height{
	height: 100%;
}
.inline{
	display: inline-block;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.v-align-t{
	vertical-align: top;
}
.v-align-b{
	vertical-align: bottom;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}