*{
	padding: 0;
	margin: 0 auto;
}
body{
	font-family: 'Raleway', sans-serif!important;
}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.full-height{
	height: 100%;
}
.navbar{
    border: 0px!important;
    border-radius: 0px!important;
}
.navbar-inverse {
    border-radius: 0px!important;
}
.navbar-brand, .navbar-nav > li > a {
    text-align: center;
}
.dropdown-menu > li > a {
    text-align: center;
}
