.navbar{
    border: 0px!important;
    border-radius: 0px!important;
}
.navbar-inverse {
    border-radius: 0px!important;
}
.navbar-brand, .navbar-nav > li > a {
    text-align: center;
}
.dropdown-menu > li > a {
    text-align: center;
}
